<form method="post" action="{{ path('artikel_delete', {'id': artikel.id}) }}" onsubmit="return confirm('Weet je zeker dat je deze artikel wilt verwijderen?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ artikel.id) }}">
    <button class="btn btn-dark mt-3">Delete</button>
</form>
