{% extends 'base.html.twig' %}

{% block title %}admin{% endblock %}

{% block body %}


    <section class="row justify-content-center align-items-center">
        <article class="col-12 col-md-6">
            <img class="img-fluid mt-4 d-none d-md-block d-lg-block" src="https://i.ibb.co/64Rz6NT/AI-Robotic.jpg">
        </article>
        <article class="col-12 col-md-6 tekst-1 md-3 text-center">
            <h3 class="kop-item-1 font-weight-bold">
                Wat is een simulatie?
            </h3>
            <p class="mt-3">
                Een simulatie is een nabootsing van de werkelijkheid,
                in veel gevallen gebaseerd op een model van die werkelijkheid.
                Een simulatie is meestal een dynamisch proces.
                Vanuit een gegeven uitgangssituatie,
                laat een simulatie zien hoe deze situatie verandert en
                zich ontwikkelt in de loop van de tijd.Het model geeft daarbij
                de rekenregels aan volgens welke deze verandering plaatsvindt.
            </p>
        </article>
    </section>

    <section class="mt-5 p-3">
        <article class="d-flex flex-column justify-content-center align-items-center">
            <h3 class="kop-item-1 font-weight-bold">Onze toepassingsgebieden</h3>
            <p class="text-center">Wij werken met de zogenoemde smart lijnen, oftewel toepassingsgebieden
                in smart.</p>
        </article>
    </section>

    <!-- start cards -->
    <section class="pt-3 pb-5">
        <div class="container text-center">
            <div class="row">
                <!--ADD CLASSES HERE d-flex align-items-stretch-->
                <div class="col-lg-3 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="https://i.ibb.co/Tm6cnvb/vecteezysmartcity-illustrationwk0421-generated.jpg" class="card-img-top" alt="Card Image">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title kop-item-1">Building</h5>
                            <p class="card-text mb-4">Some quick example text to build
                                on the card title and make up the bulk
                                of the card's content.
                               <br> <button href="#" class="btn btn-outline-primary mt-3">Meer info</button>
                            </p>
                        </div>
                    </div>
                </div>
                <!--ADD CLASSES HERE d-flex align-items-stretch-->
                <div class="col-lg-3 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="https://i.ibb.co/Jc2DV65/Artificial-intelligence-for-smart-green-energy-Artificial-brain-supply-energy-management-Future-ener.jpg" class="card-img-top" alt="Card Image">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title kop-item-1">Energy</h5>
                            <p class="card-text mb-4">Some quick example text to build
                                on the card title and make up the bulk
                                of the card's content.
                                <br> <button href="#" class="btn btn-outline-primary mt-3">Meer info</button>
                            </p>
                        </div>
                    </div>
                </div>                <!--ADD CLASSES HERE d-flex align-items-stretch-->
                <div class="col-lg-3 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="https://i.ibb.co/QJBk5YN/Smart-delivery-concept-Courier-holds-parcel-express-delivering-to-client-situation-Services-in-mobil.jpg" class="card-img-top" alt="Card Image">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title kop-item-1">Mobility</h5>
                            <p class="card-text mb-4">Some quick example text to build
                                on the card title and make up the bulk
                                of the card's content.
                                <br> <button href="#" class="btn btn-outline-primary mt-3">Meer info</button>
                            </p>
                        </div>
                    </div>
                </div>                <!--ADD CLASSES HERE d-flex align-items-stretch-->
                <div class="col-lg-3 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="https://i.ibb.co/LgPF6nW/vecteezygardening-general-activity-illustration-LP0421-generated.jpg" class="card-img-top" alt="Card Image">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title kop-item-1">Industry</h5>
                            <p class="card-text mb-4">Some quick example text to build
                                on the card title and make up the bulk
                                of the card's content.
                                <br> <button href="#" class="btn btn-outline-primary mt-3">Meer info</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- einde cards-->


    <!-- start jumbotron-->
    <section class="column jumbotron mt-5 justify-content-center align-items-center text-center">
        <h1 class="display-5 text-white text-center font-weight-bold">Heb je vragen of opmerkingen?</h1>
        <p class="lead text-white font-weight-normal">Wil je meer informatie over Smart Technology of wil je contact
            met ons zoeken</p>
        <p class="text-center">
            <button class="btn btn-lg btn-light text-transparant mt-3 contact-item-button" href="#">Contact ITechler</button>
        </p>
    </section>
    <!-- einde jumbotron-->
    <br>

    <section class="mt-5 pt-4">
        <article class="d-flex flex-column justify-content-center align-items-center">
            <h3 class="kop-item-1 font-weight-bold text-center">Wat biedt het simulatiecentrum?</h3>
        </article>
    </section>

    <!-- start two cards-->
    <div class="card-deck mt-3 md-5 two-deck-item">
        <div class="card card-detail two-deck-card">
            <div class="card-body m-4">
                <h4 class="card-title kop-item-1">Aan studenten:</h4>
                <i class="bi bi-check-lg"></i><p class="card-text ">- Moderne leermiddelen</p>
                <p class="card-text ">- Moderne leermiddelen</p>
                <p class="card-text ">- Moderne leermiddelen</p>
                <p class="card-text ">- Moderne leermiddelen</p>
                <p class="card-text ">- Moderne leermiddelen</p>
            </div>
        </div>
        <div class="card card-detail two-deck-card">
            <div class="card-body m-4">
                <h4 class="card-title kop-item-1">Aan partners & mboR:</h4>
                <p class="card-text ">Our amazing tracking platform allows you to view in-depth analytics for your traffic as well as our dashboard provides proprietary reporting with actionable statistics to analyze and optimize your results in real-time. Every click gets counted.</p>
            </div>
        </div>
    </div> <br><br><br><br><br><br>
    <!-- end two cards-->

{% endblock %}
