{% extends 'base.html.twig' %}

{% block title %}admin{% endblock %}

{% block body %}


    <section class="row justify-content-center align-items-center">
        <article class="col-12 col-md-6">
            <img class="img-fluid mt-5" src="images/MicrosoftTeams-image.png">
        </article>
        <article class="col-12 col-md-6 tekst-1">
            <h4 class="kop-item-1">
                Wat is een simulatie?
            </h4>
            <p class="mt-4">
                Een simulatie is een nabootsing van de werkelijkheid,
                in veel gevallen gebaseerd op een model van die werkelijkheid.
                Een simulatie is meestal een dynamisch proces.
                Vanuit een gegeven uitgangssituatie,
                laat een simulatie zien hoe deze situatie verandert en
                zich ontwikkelt in de loop van de tijd.Het model geeft daarbij
                de rekenregels aan volgens welke deze verandering plaatsvindt.
            </p>
        </article>
    </section>
{% endblock %}
