{% extends 'base.html.twig' %}

{% block title %}admin{% endblock %}

{% block body %}


    <section class="row justify-content-center align-items-center">
        <article class="col-12 col-md-6">
            <img class="img-fluid mt-4 d-none d-md-block d-lg-block" src="https://i.ibb.co/64Rz6NT/AI-Robotic.jpg">
        </article>
        <article class="col-12 col-md-6 tekst-1 md-3 text-center">
            <h3 class="kop-item-1 font-weight-bold">
                Wat is een simulatie?
            </h3>
            <p class="mt-3">
                Een simulatie is een nabootsing van de werkelijkheid,
                in veel gevallen gebaseerd op een model van die werkelijkheid.
                Een simulatie is meestal een dynamisch proces.
                Vanuit een gegeven uitgangssituatie,
                laat een simulatie zien hoe deze situatie verandert en
                zich ontwikkelt in de loop van de tijd.Het model geeft daarbij
                de rekenregels aan volgens welke deze verandering plaatsvindt.
            </p>
        </article>
    </section>

    <section class="mt-5 p-3">
        <article class="d-flex flex-column justify-content-center align-items-center">
            <h3 class="kop-item-1 font-weight-bold">Onze toepassingsgebieden</h3>
            <p class="text-center">Wij werken met de zogenoemde smart lijnen, oftewel toepassingsgebieden
                in smart.</p>
        </article>
    </section>

    <!-- start cards -->
    <section class="row item-opdrachten mt-3 pb-5
    justify-content-center align-items-center">
        <article class="card card-body col-12 col-md-5 col-xl-2 mt-2 mx-3 shadow text-center">
            <img class="card-img-top" src="https://i.ibb.co/Tm6cnvb/vecteezysmartcity-illustrationwk0421-generated.jpg">
            <h4 class="card-title mt-3">Building</h4>
            <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the
                card's content.
                <button href="#" class="btn mt-3  btn-outline-primary">Meer info</button>
            </p>
        </article>
        <article class="card card-body col-12 col-md-5 col-xl-2 mt-2 mx-3 shadow text-center">
            <img class="card-img-top" src="https://i.ibb.co/Tm6cnvb/vecteezysmartcity-illustrationwk0421-generated.jpg">
            <h4 class="card-title mt-3">Building</h4>
            <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the
                card's content.
                <button href="#" class="btn mt-3  btn-outline-primary">Meer info</button>
            </p>
        </article>
        <article class="card card-body col-12 col-md-5 col-xl-2 mt-2 mx-3 shadow text-center">
            <img class="card-img-top" src="https://i.ibb.co/Tm6cnvb/vecteezysmartcity-illustrationwk0421-generated.jpg">
            <h4 class="card-title mt-3">Building</h4>
            <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the
                card's content.
                <button href="#" class="btn mt-3  btn-outline-primary">Meer info</button>
            </p>
        </article>
        <article class="card card-body col-12 col-md-5 col-xl-2 mt-2 mx-3 shadow text-center">
            <img class="card-img-top" src="https://i.ibb.co/Tm6cnvb/vecteezysmartcity-illustrationwk0421-generated.jpg">
            <h4 class="card-title mt-3">Building</h4>
            <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the
                card's content.
                <button href="#" class="btn mt-3  btn-outline-primary">Meer info</button>
            </p>
        </article>
    </section>
    <!-- einde cards-->


    <!-- start jumbotron-->
    <section class="column jumbotron mt-3 justify-content-center align-items-center text-center">
        <h1 class="display-5 text-white text-center font-weight-bold">Heb je vragen of opmerkingen?</h1>
        <p class="lead text-white font-weight-normal">Wil je meer informatie over Smart Technology of wilt u contact
            met ons zoeken</p>
        <p class="text-center">
            <button class="btn btn-lg btn-light text-transparant mt-3" href="#">Contact ITechler</button>
        </p>
    </section>
    <!-- einde jumbotron-->


    <section class="mt-5">
        <article class="d-flex flex-column justify-content-center align-items-center">
            <h3 class="kop-item-1 font-weight-bold">Wat biedt het simulatiecentrum?</h3>
        </article>
    </section>

    <section class="row justify-content-center align-items-center mt-4">
        <div class="">
            <div class="col-sm-6">
                <div class="card border-primary mb-4">
                    <div class="card-body text-primary">
                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="col-sm-6">
                <div class="card border-primary mb-4">
                    <div class="card-body text-primary">
                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
