{% extends 'base.html.twig' %}

{% block title %}Home | ITechler{% endblock %}

{% block stylesheet %}
    <style>
    body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    }
    @keyframes fadeInAnimation {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
    }


    .dropdown-menu {
    border: 1px solid transparent;
    background-color: transparent;

    }

    .dropdown-item {
    color: white;
    transition: .5s;
    }

    .dropdown-item:hover {
    background-color: #2C31AF;
    color: white;
    }

    .navbar-dark .navbar-nav .nav-link {
    color: white;
    transition: .5s;
    }

    .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #2C31AF;
    }

    body{overflow-x: hidden;}

    .kop-item-1 {
    color: #2C31AF;
    }

    .card-item-1 {
    border: 1px solid blue;
    border-radius: 50px;
    }



    .item-opdrachten h4{
    color: #2C31AF;
    }

    .btn.btn-outline-primary {
    border-radius: 20px;
    }




    header {
    background: linear-gradient(-45deg, #4ADEDE, #1CA7EC, #787FF6, #6495ED);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    }


@media (max-width: 768px){
    header{height: 80vh;}
}

    @media (min-width: 768px) and (max-width: 1200px){
        header{height: 95vh;}
    }


    @keyframes gradient {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
    }

    .jumbotron {
    border: 1px solid transparent;
    border-radius: 110px;
    background-image: url("https://i.ibb.co/9Ztyqpv/vector-jan-2021-73-generated.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }



    .card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }

    .card {
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    min-height:400px;
    }

    .card span.card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    }

    .card .card-image {
    position: relative;
    overflow: hidden;
    }

    .card .card-image img {
    border-radius: 2px 2px 0 0;
    background-clip: padding-box;
    position: relative;
    z-index: -1;
    }

    .card .card-image span.card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
    }

    .card .card-content {
    padding: 16px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
    }

    .card .card-content p {
    margin: 0;
    color: inherit;
    }

    .card .card-content span.card-title {
    line-height: 48px;
    }

    .card .card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 16px;
    }

    .floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    }

    @keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }
    }



    .card .card-action a {
    color: #ffab40;
    margin-right: 16px;
    transition: color 0.3s ease;
    text-transform: uppercase;
    }

    .card .card-action a:hover {
    color: #ffd8a6;
    text-decoration: none;
    }

    .contact-item-button{color: #21A8C8;}
    .contact-item-button:hover{color: #0B78C8;}

    .two-deck-card  {
    border-radius: 50px;
    border-color: #2C31AF;
    }
    .two-deck-card p  {
    font-family: cursive;
    color: #2C31AF;
    }

    .navbar-dark .navbar-toggler {
    border-color: transparent;
    }

    .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .navbar-dark .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='blue' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    </style>
{% endblock %}

{% block header %}
    <header class="bs-example header-item">
        <nav class="navbar navbar-expand-md navbar-dark">
            <h1 href="#" class="text-white text-light ml-2">ITechler</h1>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav d-flex justify-content-end w-100 ">
                    <a href="http://127.0.0.1:8000/test_sim/public/" class="nav-item nav-link">Home</a>
                    <a href="#" class="nav-item nav-link">SOC</a>
                    <a href="#" class="nav-item nav-link">Smart VR/AR</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Smart center</a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Building</a>
                            <a href="#" class="dropdown-item">Energy</a>
                            <a href="#" class="dropdown-item">Mobility</a>
                            <a href="#" class="dropdown-item">Industry</a>
                        </div>
                    </div>
                    <a href="#" class="nav-item nav-link">Drones en bots</a>
                    <a href="/test_sim/public/about" class="nav-item nav-link">Over</a>
                    <a href="#" class="nav-item nav-link">Contact</a>
                </div>
            </div>
        </nav>
<section class="row justify-content-center align-items-center ml-5 hero-banner">
    <article class="col-12 col-md-6 artikel-item-1 container mt-4 text-white">
        <h1 class="d-none d-lg-block font-weight-bold">
            Technologie is, net als kunst,
            een stijgende oefening van
            de menselijke verbeelding
        </h1>
        <h2 class="d-lg-none">Technologie is, net als kunst,
            een stijgende oefening van
            de menselijke verbeelding
        </h2>
        <p class="mt-4">
            Dus, wat is smart technologie? Verrassend genoeg kan
            het moeilijk zijn om een definitie vast te leggen.
            Is het verbinding met internet? Is het kunstmatige intelligentie?
            Een ingebouwd vermogen om te leren van de omgeving?
            Is het app-gedreven? Of is het een combinatie van al die aspecten?
        </p>
        <button type="button" class="btn btn-outline-light">Over ons</button>
    </article>
    <article class="col-12 col-md-6">
        <img class="img-fluid mt-5 d-none d-md-block d-lg-block floating" src="https://i.ibb.co/djMPDyG/kisspng-portable-network-graphics-clip-art-isometric-proje-westland-storage-full-review-is-this-a-go.png">
    </article>
</section>
    </header>
{% endblock %}


{% block body %}
   <main class="container mt-5">
    <section class="row justify-content-center align-items-center" data-aos="fade-up">
        <article class="col-12 col-md-6">
            <img class="img-fluid mt-4 d-none d-md-block d-lg-block" src="https://i.ibb.co/64Rz6NT/AI-Robotic.jpg">
        </article>
        <article class="col-12 col-md-6 tekst-1 md-3 text-center">
            <h3 class="kop-item-1 font-weight-bold">
                Wat is een simulatie?
            </h3>
            <p class="mt-3">
                Een simulatie is een nabootsing van de werkelijkheid,
                in veel gevallen gebaseerd op een model van die werkelijkheid.
                Een simulatie is meestal een dynamisch proces.
                Vanuit een gegeven uitgangssituatie,
                laat een simulatie zien hoe deze situatie verandert en
                zich ontwikkelt in de loop van de tijd.Het model geeft daarbij
                de rekenregels aan volgens welke deze verandering plaatsvindt.
            </p>
        </article>
    </section>

    <section class="mt-5 p-3" data-aos="fade-up">
        <article class="d-flex flex-column justify-content-center align-items-center">
            <h3 class="kop-item-1 font-weight-bold">Onze toepassingsgebieden</h3>
            <p class="text-center">Wij werken met de zogenoemde smart lijnen, oftewel toepassingsgebieden
                in smart.</p>
        </article>
    </section>

    <!-- start cards -->
    <section class="pt-3 pb-5" data-aos="fade-up">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-3 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="https://i.ibb.co/Tm6cnvb/vecteezysmartcity-illustrationwk0421-generated.jpg" class="card-img-top" alt="Card Image">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title kop-item-1">Building</h5>
                            <p class="card-text mb-4">Some quick example text to build
                                on the card title and make up the bulk
                                of the card's content.
                               <br> <button href="#" class="btn btn-outline-primary mt-3">Meer info</button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="https://i.ibb.co/Jc2DV65/Artificial-intelligence-for-smart-green-energy-Artificial-brain-supply-energy-management-Future-ener.jpg" class="card-img-top" alt="Card Image">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title kop-item-1">Energy</h5>
                            <p class="card-text mb-4">Some quick example text to build
                                on the card title and make up the bulk
                                of the card's content.
                                <br> <button href="#" class="btn btn-outline-primary mt-3">Meer info</button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="https://i.ibb.co/QJBk5YN/Smart-delivery-concept-Courier-holds-parcel-express-delivering-to-client-situation-Services-in-mobil.jpg" class="card-img-top" alt="Card Image">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title kop-item-1">Mobility</h5>
                            <p class="card-text mb-4">Some quick example text to build
                                on the card title and make up the bulk
                                of the card's content.
                                <br> <button href="#" class="btn btn-outline-primary mt-3">Meer info</button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="https://i.ibb.co/LgPF6nW/vecteezygardening-general-activity-illustration-LP0421-generated.jpg" class="card-img-top" alt="Card Image">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title kop-item-1">Industry</h5>
                            <p class="card-text mb-4">Some quick example text to build
                                on the card title and make up the bulk
                                of the card's content.
                                <br> <button href="#" class="btn btn-outline-primary mt-3">Meer info</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- einde cards-->


    <!-- start jumbotron-->
    <section class="column jumbotron mt-5 justify-content-center align-items-center text-center" data-aos="fade-up">
        <h1 class="display-5 text-white text-center font-weight-bold">Heb je vragen of opmerkingen?</h1>
        <p class="lead text-white font-weight-normal">Wil je meer informatie over Smart Technology of wil je contact
            met ons zoeken</p>
        <p class="text-center">
            <button class="btn btn-lg btn-light text-transparant mt-3 contact-item-button" href="#">Contact ITechler</button>
        </p>
    </section>
    <!-- einde jumbotron-->
    <br>

    <section class="mt-5 pt-4" data-aos="fade-up">
        <article class="d-flex flex-column justify-content-center align-items-center">
            <h3 class="kop-item-1 font-weight-bold text-center">Wat biedt het simulatiecentrum?</h3>
        </article>
    </section>

    <!-- start two cards-->
    <div class="card-deck mt-3 md-5 two-deck-item" data-aos="fade-up">
        <div class="card card-detail two-deck-card">
            <div class="card-body m-4">
                <h4 class="card-title kop-item-1 font-weight-bold">Aan studenten:</h4>
                <p class="card-text "><i class="bi bi-check-lg"></i>&nbsp;&nbsp;Moderne leermiddelen</p>
                <p class="card-text "><i class="bi bi-check-lg"></i>&nbsp;&nbsp;Actuele leerstof</p>
                <p class="card-text "><i class="bi bi-check-lg"></i>&nbsp;&nbsp;Relevante info met
                    slimme simulaties</p>
                <p class="card-text "><i class="bi bi-check-lg"></i>&nbsp;&nbsp;Toegepaste ICT</p>
                <p class="card-text "><i class="bi bi-check-lg"></i>&nbsp;&nbsp;Leren werken met de innovatieve producten/diensten</p>
            </div>
        </div>
        <div class="card card-detail two-deck-card">
            <div class="card-body m-4">
                <h4 class="card-title kop-item-1 font-weight-bold">Aan partners & mboR:</h4>
                <p class="card-text "><i class="bi bi-check-lg"></i>&nbsp;&nbsp;Koppeling Smart</p>
                <p class="card-text "><i class="bi bi-check-lg"></i>&nbsp;&nbsp;Samenwerking zichtbaar maken</p>
                <p class="card-text "><i class="bi bi-check-lg"></i>&nbsp;&nbsp;Vergroting naamsbekendheid</p>
                <p class="card-text "><i class="bi bi-check-lg"></i>&nbsp;&nbsp;Doelgroepen bereiken via
                    moderne media</p>
            </div>
        </div>
    </div> <br><br><br><br><br><br>
    <!-- end two cards-->
</main>
{% endblock %}

{% block footer %}
<footer class="text-left text-lg-start text-white p-3">
    <div class="container">
        <div class="row justify-content-between pt-3">
            <div class="col-sm-4">
                <h5>ITechler</h5>
                <p>ITechler ondersteunt studenten en docenten met het
                    geven van informatie op gebied van Smart Technology
                    en de bijbehorende toepassingen ervan. </p>
                <p>© ITechler 2021</p>
            </div>
            <div class="col-sm-4">
                <h5>Contactinformatie</h5>
                <p class="navbar-text">
                    ITechler <br>
                    Parklaan 240 <br>
                    0000 IW Zoetermeer <br>
                    info@ITechlerService.nl <br>
                </p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}