<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/pricing/">
    <!-- Bootstrap core CSS -->

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            body{overflow-x: hidden;}

            .kop-item-1 {
                color: #2C31AF;
            }

            .card-item-1 {
                border: 1px solid blue;
                border-radius: 50px;
            }



            .item-opdrachten h4{
                color: #2C31AF;
            }

            .btn.btn-outline-primary {
                border-radius: 20px;
            }


            @media (min-width: 1200px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }

                .header-item {
                    background: linear-gradient(-45deg, #787FF6, #4ADEDE, #1CA7EC);
                    background-size: 400% 400%;
                    animation: gradient 15s ease infinite;
                    height: 100vh;
                }
            }

            @media (max-width: 768px) {
                .header-item {
                    background: linear-gradient(-45deg, #787FF6, #4ADEDE, #1CA7EC);
                    background-size: 400% 400%;
                    animation: gradient 15s ease infinite;
                    height: auto;
                }
                .header-item article{margin-top: 5vh}
            }

            @media (min-width: 768px) and (max-width: 1200px) {
                .header-item {
                    background: linear-gradient(-45deg, #787FF6, #4ADEDE, #1CA7EC);
                    background-size: 400% 400%;
                    animation: gradient 15s ease infinite;
                    height: 86vh;
                }
            }



            @keyframes gradient {
                0% {
                    background-position: 0% 50%;
                }
                50% {
                    background-position: 100% 50%;
                }
                100% {
                    background-position: 0% 50%;
                }
            }

            .jumbotron {
                border: 1px solid transparent;
                border-radius: 110px;
                background-image: url("https://i.ibb.co/9Ztyqpv/vector-jan-2021-73-generated.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }

            footer{background-color: #4E54C8;}
            footer h4{font-weight: bold;}

            .card {
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            }

            .card {
                margin-top: 10px;
                box-sizing: border-box;
                border-radius: 2px;
                background-clip: padding-box;
                min-height:400px;
            }

            .card span.card-title {
                color: #fff;
                font-size: 24px;
                font-weight: 300;
                text-transform: uppercase;
            }

            .card .card-image {
                position: relative;
                overflow: hidden;
            }

            .card .card-image img {
                border-radius: 2px 2px 0 0;
                background-clip: padding-box;
                position: relative;
                z-index: -1;
            }

            .card .card-image span.card-title {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 16px;
            }

            .card .card-content {
                padding: 16px;
                border-radius: 0 0 2px 2px;
                background-clip: padding-box;
                box-sizing: border-box;
            }

            .card .card-content p {
                margin: 0;
                color: inherit;
            }

            .card .card-content span.card-title {
                line-height: 48px;
            }

            .card .card-action {
                border-top: 1px solid rgba(160, 160, 160, 0.2);
                padding: 16px;
            }



            .card .card-action a {
                color: #ffab40;
                margin-right: 16px;
                transition: color 0.3s ease;
                text-transform: uppercase;
            }

            .card .card-action a:hover {
                color: #ffd8a6;
                text-decoration: none;
            }

            .contact-item-button{color: #21A8C8;}
            .contact-item-button:hover{color: #0B78C8;}

            .two-deck-card  {
                border-radius: 50px;
            }

        </style>

    </head>

    <body>

    <div class="bs-example header-item">
        <nav class="navbar navbar-expand-md navbar-dark">
            <h1 href="#" class="text-white text-light">ITechler</h1>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav d-flex justify-content-end w-100 ">
                            <a href="#" class="nav-item nav-link text-white">Home</a>
                            <a href="#" class="nav-item nav-link text-white ">SOC</a>
                            <a href="#" class="nav-item nav-link text-white ">Smart VR/AR</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle text-white" data-toggle="dropdown">Smart center</a>
                                <div class="dropdown-menu">
                                    <a href="#" class="dropdown-item">Building</a>
                                    <a href="#" class="dropdown-item">Energy</a>
                                    <a href="#" class="dropdown-item">Mobility</a>
                                    <a href="#" class="dropdown-item">Industry</a>
                                </div>
                            </div>
                            <a href="#" class="nav-item nav-link text-white ">Drones en bots</a>
                            <a href="#" class="nav-item nav-link text-white ">Over</a>
                            <a href="#" class="nav-item nav-link text-white ">Contact</a>
                        </div>
                    </div>
            </nav>

        <section class="row justify-content-center align-items-center ml-5">
        <article class="col-12 col-md-6 artikel-item-1 container mt-4 text-white">
            <h1 class="d-none d-lg-block font-weight-bold">
                Technologie is, net als kunst,
                een stijgende oefening van
                de menselijke verbeelding
            </h1>
            <h2 class="d-lg-none">Technologie is, net als kunst,
                een stijgende oefening van
                de menselijke verbeelding
            </h2>
            <p class="mt-4">
                Dus, wat is smart technologie? Verrassend genoeg kan
                het moeilijk zijn om een definitie vast te leggen.
                Is het verbinding met internet? Is het kunstmatige intelligentie?
                Een ingebouwd vermogen om te leren van de omgeving?
                Is het app-gedreven? Of is het een combinatie van al die aspecten?
            </p>
            <button type="button" class="btn btn-outline-light">Over ons</button>
        </article>
        <article class="col-12 col-md-6">
            <img class="img-fluid mt-5 d-none d-md-block d-lg-block" src="https://i.ibb.co/djMPDyG/kisspng-portable-network-graphics-clip-art-isometric-proje-westland-storage-full-review-is-this-a-go.png">
        </article>
        </section>
    </div>


        <main class="container mt-5">
            {% block body %}{% endblock %}
        </main>

    <footer class="text-left text-lg-start text-white">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row justify-start">
                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="">ITechler</h5>
                    <p>
                        ITechler ondersteunt studenten en docenten met het
                        geven van informatie op gebied van Smart Technology
                        en de bijbehorende toepassingen ervan.
                    </p>
                    <p>© 2020 Copyright</p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="">Contactinformatie</h5>

                    <p>
                        ITechler <br>
                        Parklaan 240 <br>
                        0000 IW Zoetermeer <br>
                        info@ITechlerService.nl <br>
                    </p>

                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->
    </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>



    {% block javascripts %}

    {% endblock %}



    </body>
</html>
